.wrapper {
  display: flex;
  flex-direction: column;
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: block;
  text-transform: uppercase;
  margin-top: 8px;
}

.badge {
  z-index: auto;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  line-height: 20px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  background: #1890ff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #fff;
  margin-right: 4px;
  margin-bottom: 4px;
  &:last-child {
    margin-right: 0;
  }
}
