@import "~antd/dist/antd.css";
@import-normalize;

body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  src: url(./static/fonts/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  src: url(./static/fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: url(./static/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}

* {
  font-family: "SourceSansPro", sans-serif;
}
